@model Moment32.Models.Borrow

@{
    ViewData["Title"] = "Låneinformation";
}

<h1>Låneinformation</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cd.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Redigera</a> |
    <a asp-action="Index">Tillbaka till lånelistan</a>
</div>
